/*
dark blue: 212B40
gray-blue: 547B97
gray-green-blue: BADCDD
light-green: C2E078
*/
/*
dark blue: 1B1D26
dark green: 425955
gray-green: 778C7A
off-white: F1F2D8
tan: BFBD9F
*/

body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #1b1d26;
    background-color: #f1f2d8;
}
p, h1, form {border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
form{
    margin-left: 100px;
    width:400px;
    padding:14px;
    background-color: #ffffff;
    border:solid 2px #425955;
}

/* ----------- stylized ----------- */
 h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
 p{
    font-size:14px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #BFBD9F;
    padding-bottom:10px;
}
 label{
     margin-top: 20px;
    display:block;
    font-weight:bold;
    text-align:right;
    width:60px;
    float:left;

}
 .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
 select{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #BFBD9F;
    width:200px;
    margin:2px 0 20px 10px;
}
 input{
     border-radius: 2em;
     float:left;
     font-size:18px;
     padding:4px 2px;
     border:solid 2px #BADCDD;
     width:180px;
     margin:2px 0 20px 10px;
}
 .input {
     margin-left: 8px;
     margin-top: 20px;
     width: 220px;
     height: 20px;

 }
.button{
    margin-top: 20px;
    margin-left: 90px;
    background-color: #4CAF50;
    font-weight: bolder;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

#output {
	clear:both;
	margin-bottom: 10px;
	color: blue;
    font-size: medium;
}
