/* HOMEPAGE */

body {
    background-color: #212121;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}



img{
    padding-top: 5px;
    padding-bottom: 5px;

}

#first {
    background-size: cover;
    background-color: #212121;
    height: 100vh;
    min-height: 650px;
}
#second {
    background-size: cover;
    background-color: #212121;
    height: 100vh;
    min-height: 650px;

}

.txt{
    font-family: 'Indie Flower', cursive;
    font-size: 2vw;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 25px;
    color: whitesmoke;
}

.supabox {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.supabox .supabox-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(155, 155, 155, 0.9);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.supabox .supabox-caption .supabox-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.supabox:hover .supabox-caption {
    opacity: 1;
}

.supabox:focus {
    outline: none;
}

@media (min-width: 768px) {
    .supabox .supabox-caption .supabox-caption-content .project-category {
        font-size: 16px;
    }
    .supabox .supabox-caption .supabox-caption-content .project-name {
        font-size: 22px;
    }
}




/* LOGIN */
/* The Modal (background) */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #212121;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}



.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.js-reveal {
    opacity: 1;
    transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
    opacity: 0;
    margin-top: 3em;
}

#scroll1 {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 20px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
#scroll2 {
    width: 49px;
    height: 49px;
    position: absolute;
    top: 300%;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 20px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
img,
figure {
    max-width: 100%;
}